.menu {
    width: 300px;
    background-color: #1e282c;
    float: left;
    height: 100%;
    &_list {
        color: #ffffff;
        padding-top: 20px;
        li {
            a {
                color: #ffffff;
                text-decoration: none;
                display: inline-block;
                height: 100%;
                width: 100%;
                padding: 8px 0px 8px 15px;
            }
            a.active {
                border-left: 4px solid #3c8dbc;
                padding: 8px 0px 8px 11px;
            }
        }
        li:hover {
            background-color: #222d32;
        }
    }
}